<!DOCTYPE html>
<html lang="es">
<head>

    <title>MundoTecnologia</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta charset="utf-8">
    <link rel="icon" href="img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="{{ 'assets/css/estilos.css' | url }}">
    <link rel="stylesheet" href="{{ 'assets/css/font-awesome.min.css' | url }}">
    <link rel="stylesheet" href="{{ 'assets/css/header.css' | url }}">
    <link rel="stylesheet" href="{{ 'assets/css/responsiveslides.css' | url }}">
    <link rel="stylesheet" href="{{ 'assets/css/themes.css' | url }}">
    <link rel="stylesheet" href="{{ 'assets/css/slick.css' | url }}">
    <link rel="stylesheet" href="{{ 'assets/css/buy.css' | url }}">
    <link rel="stylesheet" href="{{ 'assets/css/login.css' | url }}">
    <link rel="stylesheet" href="{{ 'assets/css/register.css' | url }}">
</head>