<div class="top-nav">
    <div class="center">
        {% if session_user %}
            {% for user in session_user %}
                 {% if user.rank == 1%}
                    <a href="{{ 'adm' | url }}" class="link-nav" style="float:left;"><i class="fa fa-user"></i> Administración</a>
                 {% endif %}
            <a href="{{ 'profile' | url }}" class="link-nav"><i class="fa fa-user"></i> Mi cuenta</a>
            <a href="{{ 'account/logout' | url }}" class="link-nav"><i class="fa fa-sign-out"></i> Cerrar sesión  </a>
            {% endfor %}
        {% else %}
            <a href="{{ 'account/login' | url }}" class="link-nav"><i class="fa fa-sign-in"></i> Iniciar sesión</a>
            <a href="{{ 'account/register' | url }}" class="link-nav"><i class="fa fa-user-plus"></i> Registrarse</a>
        {% endif %}

    </div>
</div>
<header class="nav">
    <div class="center">
        <div class="logo"><img src="{{ 'assets/img/logo.png' | url }}"></div>
            <nav>
                <div class="item "><a href="{{ '' | url }}"><i class="fa fa-home"></i> Inicio</a></div>
                <div class="item "><a href="{{ 'products' | url }}"><i class="fa fa-tag"></i> Productos</a></div>
                <div class="item "><a href="{{ 'empresa' | url }}"><i class="fa fa-group"></i> Empresa</a></div>
                <div class="item "><a href="{{ 'contacto' | url }}"><i class="fa fa-question-circle"></i> Contacto</a></div>
            </nav>
    <div class="buscador">
        <form action="{{ 'products/name/' | url }}" method="get">
            <input type="text" name="busq" class="typeahead tt-query" autocomplete="off" spellcheck="false" placeholder="Buscar producto">
            <button type="submit" class="icon-buscador"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="carrito">
        <a href="{{ 'carrito' | url }}" id="Cart"> <span class="data"></span><i class="fa fa-shopping-cart"></i></a>
    </div>
    <div class="menu-bar"><div class="icon-bars"><i class="fa fa-bars"></i></div></div>
    </div>
</header>